*{
  margin: 0;
  padding: 0;
}

.logo-img{
  width: 15%;
}

.flex {
  display: flex;
  flex-direction: row;
}

.header {
  justify-content: space-around;
  align-items: flex-end;
}

.logo {
  align-items: flex-end;
}
