* {
  margin: 0;
  padding: 0;
}

.logo-img {
  width: 15%;
}

.flex {
  display: flex;
  flex-direction: row;
}

.header {
  justify-content: space-around;
  align-items: flex-end;
  border-bottom: black 3px solid;
}

.logo {
  align-items: flex-end;
}

html {
  position: relative;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin-bottom: 50px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f0f0f0;
  border-top: black 3px solid;
  padding: 7px;
  margin: 0;
}

.movies-page {
  width: 90%;
  max-width: 65rem;
  margin: 5rem auto 7rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}

.movies-page .movie {
  text-align: center;
}

.movies-page .movie .title {
  font-size: 1rem;
}

.movies-page .movie .poster {
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}

.pages {
  bottom: 5rem;
  background: #100a1f;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  padding: 0.5rem;
}

.pages button {
  cursor: pointer;
  border: none;
  height: 2rem;
  width: 10rem;
  background: #665299;
  color: #fff;
  border-radius: 7rem;
  transition: 0.3s ease all;
}

.pages button:hover {
  background: #1a137c;
}

.pages button:focus {
  background: #6689d9;
}
